*{
    border: 0;
    padding: 0;
    margin: 0;
    

   
}

.navbar {
    
    background-color: #4C5760;
    
    border-radius: 0;
   
  }
    
.navbar-item {
    color: white;
    text-align: center;
}

.forecast-box {
    background-color: #99BDC0;
}

.hide {
    display: none;
}

.low-risk{
    background: green;
}

.medium-risk{
    background: orange;
}

.high-risk{
    background: red;
}

.searchHistory {
    background-color: #99BDC0;
    padding: 5px;
    border-radius: 5px;
}

li {
    font-size: 18px;
    font-weight: bold;
    color: #2b6777;
}